body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
  }
  
  ol, ul {
    padding-left: 30px;
  }
  
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .status {
    margin-bottom: 10px;
  }
  
  .square {
    background: #000;
    border: 1px solid #EEE;
    float: left;
    font-size: 28px;
    font-weight: bold;
    color: yellow;
    line-height: 50px;
    height: 50px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 50px;
  }
  
  .square:focus {
    outline: none;
  }
  
  .kbd-navigation .square:focus {
    background: #ddd;
  }
  
  .game {
    display: flex;
    flex-direction: row;
  }
  
  .game-info {
    margin-left: 20px;
  }

  button.history {
    background-color: lavender;
    border: 3px solid transparent;
    width: 150px;
    font-size: 14px;
    padding: 2px 7px;
    border-radius: 14px;
  }

  button.history:hover {
    border: #444 solid 3px;
  }
  
  .history-span.address {
    font-style: italic;
    font-weight: normal;
    margin-left: 14px;
    width: 100px;
  }

  .history.active {
    font-weight: 700;
    background-color: purple;
    color: white;
  }

  .history.active:focus {
    font-weight: 700;
    background-color: purple;
    color: white;
    outline: 3px solid yellow;
  }

  ol > li {
    margin-bottom: 7px;
  }
  
  .slanted-button {
    -ms-transform: skewX(-20deg);
    -webkit-transform: skewX(-20deg);
    transform: skewX(-20deg);
    box-sizing: border-box;
    background-color: yellow;
    border: 2px solid black;
  }

  .sort-history {
    width: 100%;
    padding: 2px 14px;
    -ms-transform: skewX(20deg);
    -webkit-transform: skewX(20deg);
    transform: skewX(20deg);
    border: transparent;
    background-color: transparent;
    font-size: 21px;
    font-family: 'ui-monospace';
  }

  .sort-history:hover {
    color: white;
  }

  .slanted-button:hover {
    background-color: black;
  }

  .sort-history:focus {
    border: transparent;
    outline: transparent;
  }

  .status {
    font-family: 'ui-monospace';
    font-size: 28px;
    text-align: center;
  }

  .game {
    justify-content: center;
  }

  .winning.square {
    background-color: yellow;
    color: black;
  }
